header {
    background-color: #24a7e4;
    background-image: url(../img/pattern.png);
    height: 100px;
    width: 2000px;
}


.logo {
    text-align: left;
    height: 60px;
}

.intestazione {
    color: gray;
    font-size: 20px;
    
}

.autore{
    color: #24a7e4;
}

.data {
    font-size: 11px;
}
